{
    "app_name": "homework-bet",
    "db_host": "mongodb://localhost/",
    "db_name_prod": "homework-bet-prod",
    "db_name_dev": "homework-bet-dev",
    "db_name_test": "homework-bet-test",
    "session_secret": "bobross",
    "port":   3000,
    "ip": "localhost"
}