<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Join new bets at the start of each school term!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Motivate yourself to academic success by joining our HomeworkBet 
        challenges that start at the beginning of each academic term. Successfully meet the homework 
        and grade goals of the challenge to split the pot with your fellow winnters, while increasing
        your GPA at the same time.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#register">Get Started!</a>
      </div>
    </div>
  </div>
</section>