<% include ../_partials/header %>

    <h1>Register</h1>

    <form method="post" action="/users/new">
        <label>First Name:
            <input type="text" name="firstName" size="25">
        </label>

        <label>Last Name:
            <input type="text" name="lastName" size="25">
        </label>

        <label>Email:
            <input type="text" name="email" size="25">
        </label>

        <label>Password:
            <input type="password" name="password" size="25">
        </label>

        <input type="submit" value="Register">
        <% if (typeof error != 'undefined' && error.length > 0) { %>
            <p><%= error %></p>
        <% } %>
    </form>

<% include ../_partials/footer %>