<section class="p-6 pages">
  <div class="container campaigns">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1 class="tealDream">{{campData.year + " " + "Campaign"}}</h1>
        <h5>{{campData.startMonth + " " + campData.startDay + "-" + campData.endMonth + " " + campData.endDay}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <p><h5 class="centerText"><em>How it Works</em></h5></p>
          The rules are simple. Bet {{betAmount}}, finish your school term with a {hwPercent} homework grade,
          or a {gradePercent} final grade in your course, and collect an equal share of the pot with your
          fellow winners!
        <hr>
        <p><h5 class="centerText"><em>Important Dates</em></h5></p>
        <table>
          <tbody>
            <tr>
              <td>
                <strong>Game Begins</strong><br>
                {{campData.startMonth + " " + campData.startDay}}<br>
              </td>
              <td style="padding-left: 40px">
                <strong>Last Day to Register</strong><br>
                {{Month}} {{Day}}<br>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Grade Turn-In Deadline</strong><br>
                {{campData.endMonth + " " + campData.endDay}}<br>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
       <p><h5 class="centerText"><em>Verifying the Results</em></h5></p>
         To verify enrollment, all students submit a high resolution scan of an official 
         class schedule that includes start and end dates. At the end of the game, students verify their final 
         grades by submitting a scan of your final class and homework grades. This document must includew the  
         student's name to be eligible for final verification.
      </div>
      <div class="col">
        <table>
          <tbody>
            <tr>
              <td>
                <i class="fa fa-money fa-4x awesomeOrange"></i> 
              </td>
              <td class="campaignStatus awesomeOrange">
                <h3>$25 BET</h3>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-user fa-4x awesomeOrange"></i> 
              </td>
              <td class="campaignStatus awesomeOrange">
                <h3>{Students} STUDENTS</h3>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-usd fa-4x awesomeOrange"></i> 
              </td>
              <td class="campaignStatus awesomeOrange">
                <h3>$ {TotalPot} POT</h3>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-calendar fa-4x awesomeOrange"></i> 
              </td>
              <td class="campaignStatus awesomeOrange">
                <h3>{{campData.startMonth + " " + campData.startDay + " " + "START DATE"}}</h3>
              </td>
            </tr>
            <tr>
              <td colspan=2 style="text-align:center" >
                <br>
                <label class="control-label" for="singlebutton"></label>
                <button id="singlebutton" name="singlebutton" class="btn btn-info btn-xl">Join Campaign!</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>
