<section class="p-6 pages">
  <div class="container userForm">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12 control-label" for="email">Email</label>  
          <div class="col-md-12">
          <input id="email" name="email" type="text" placeholder="email@domain.com" class="form-control input-md" required="">
            
          </div>
        </div>
      
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12 control-label" for="firstname">First Name</label>  
          <div class="col-md-12">
          <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control input-md">
            
          </div>
        </div>
      
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12 control-label" for="lastname">Last Name</label>  
          <div class="col-md-12">
          <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md">
            
          </div>
        </div>
      
        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-12 control-label" for="password">Password</label>
          <div class="col-md-12">
            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
            
          </div>
        </div>
      
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-info">Submit</button>
          </div>
        </div>
      
        </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>